<h1>Contacto</h1>
<ul>
    <li><%= image_tag 'git.png', class: 'iconogit' %> <a href="https://github.com/xDani-R" target="_blank">GitHub</a></li>
    <br>
    <li><%= image_tag 'ins.png', class: 'icono' %> <a href="https://www.instagram.com/dx_xniel_?igsh=aDc4cmlibjQyMGxi" target="_blank">Instagram</a></li>
</ul>