<h1>Home</h1>
<p>Bienvenido a mi portafolio</p>
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
    <div class="col-md-4">
        <%= image_tag 'foto_perfil', class: 'profile_img' %>
    </div>
    <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title">Perfil</h5>
        <ul>
            <li>Nombre: Cesar Daniel</li>
        </ul>
        <ul>
            <li>Apellido: Caceres Rodriguez</li>
        </ul>
        <ul>
            <li>Descripcion</li>
            <p>Aqui comenzando un nuevo camino en la programación conociendo diferentes tipos de lenguaje como Python, HTML, CSS y JavaScript. Ahora dando los primeros pasos en ocupar Ruby on Rails.</p>
        </ul>
        </div>
    </div>
    </div>
</div>