<h1>Projects</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'CV', class: 'proyect1' %>
        <div class="card-body">
          <h5 class="card-title">Mi Curriculum</h5>
          <a href="#" class="btn btn-primary ver-mas">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'IGUANA', class: 'proyect2' %>
        <div class="card-body">
          <h5 class="card-title">Iguana</h5>
          <a href="#" class="btn btn-primary ver-mas">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'SURICATA', class: 'proyect3' %>
        <div class="card-body">
          <h5 class="card-title">Suricata</h5>
          <a href="#" class="btn btn-primary ver-mas">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>