<h1>Projects</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'modulo.png', class: 'profile_img' %>
        <div class="card-body">
          <h5 class="card-title">Proyecto 1</h5>
          <a href="#" class="btn btn-primary ver-mas">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'modulo.png', class: 'profile_img' %>
        <div class="card-body">
          <h5 class="card-title">Proyecto 2</h5>
          <a href="#" class="btn btn-primary ver-mas">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag 'modulo.png', class: 'profile_img' %>
        <div class="card-body">
          <h5 class="card-title">Proyecto 3</h5>
          <a href="#" class="btn btn-primary ver-mas">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
