.ver-mas {
   background-color: #4CAF50; /* Verde */
   border: none;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   transition-duration: 0.4s;
}
 
.ver-mas:hover {
   background-color: white;
   color: black;
   border: 2px solid #4CAF50;
}

.text-decoration {
   text-decoration: none;
}

.profile_img {
   width: 280px;
   height: 290px;
   margin-left: 20%;
}

.icono {
   width: 35px;
   height: 39px;
}
.iconogit {
   width: 35px;
   height: 39px;
}

.proyect1 {
   width: 345px;
   height: 250px;
}

.proyect2 {
   width: 345px;
   height: 250px;
}

.proyect3 {
   width: 360px;
   height: 260px;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


